@import '../../../../../variables';

.sidenav-item {
    position: relative;
    border-bottom: 1px solid #dfdfdf;
    background-color: transparentize($primaryColor, 1);
    transition: background-color 0.1s linear, color 0.1s linear,
        font-weight 0.1s linear;
    overflow-x: hidden;

    &:focus {
        background: inherit;
    }
    &:hover {
        background-color: transparentize($primaryColor, 0.8);
        border-color: transparentize($primaryColor, 0.8);
        .item-selector {
            transform: translateX(-5px);
        }
    }
    &.selected {
        color: $primaryColor;
        border-color: transparentize($primaryColor, 0.8);
        font-weight: 500;
        .item-selector {
            transform: translateX(-5px);
        }
        &:hover {
            background-color: inherit;
        }
    }
    .item-selector {
        transition: transform 0.1s linear;
        height: 100%;
        width: 100%;
        position: absolute;
        right: -100%;
        background-color: $primaryColor;
    }
}
